%p#notice= notice

%p
  %strong Mail_address:
  = @user.mail_address

%p
  %strong Name:
  = @user.name

%p
  %strong Password:
  = "********"

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
