<p id="notice"><%= notice %></p>

<p>
  <strong>Mail_address:</strong>
  <%= @user.mail_address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= "********" %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
