<!DOCTYPE html>
<html>
  <head>
    <title>Testapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
            <nav>
                <% if log_user_signed_in? %>
                <strong><%= link_to current_log_user.username, users_path %></strong>
                <%= link_to 'プロフィール変更', edit_log_user_registration_path %>
                <%= link_to 'ログアウト', destroy_log_user_session_path, method: :delete %>
            <% else %>
                <%= link_to 'サインアップ', new_log_user_registration_path %>
                <%= link_to 'ログイン', new_log_user_session_path %>
                <% end %>
            </nav>
        </header>

      <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
      <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == "notice" ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
      <%= msg %>
      </div>
      <% end %>
      <%= yield %>
  </body>
</html>
